header{
    a{
        font-family: "League Gothic", sans-serif;
        color: #282828;
    }
    background-color: #C36520;
    height: 80px;
}

footer{
    #staffLink{
        font-family: "League Gothic", sans-serif;
    }
    h2{
        font-family: "League Gothic", sans-serif;
    }
    a{
        color: black;
    }
    h3, p, a{
        font-family: Verdana, sans-serif;
    }
}