main {
  color: white;
  h3 {
    color: black;
  }
  li {
    background-color: #161616;

    .price::after {
        content: ":-";
    }
  }
}

.menu{
    background-color: white;
    h4{
        font-weight: normal;
    }
}

#dietRestrictions {
  background-color: #161616;
}
