* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #1E1E1E;
  >div{
    margin: auto;
    max-width: 800px;
  }
}

.hidden {
  visibility: hidden;
  position: fixed;
}

main {
  position: relative;
  background-color: #282828;
  padding-bottom: 20px;
  h2 {
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    color: black;
    // textshadow outline tagen härifrån: https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/
    text-shadow: -1px 1px 0 #e97c2c, 1px 1px 0 #e97c2c, 1px -1px 0 #e97c2c,
      -1px -1px 0 #e97c2c;
  }
}

p {
  font-family: "Inter", sans-serif;
  line-height: 1.3rem;
}

h1 {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  color: black;
  text-shadow: -1px 1px 0 #e97c2c, 1px 1px 0 #e97c2c, 1px -1px 0 #e97c2c,
    -1px -1px 0 #e97c2c;
}
